---
import Email from "../icons/Email.astro";
import Phone from "../icons/Phone.astro";
export interface Props {
  locationType: string;
  companyName: string;
  address: string[];
  phone: string;
  email?: string;
}

const { locationType, companyName, address, phone, email } = Astro.props;
---

<div>
  <h3 class="text-lg text-primary mb-2 font-bold">{locationType}</h3>
  <div class="mb-2 font-bold">{companyName}</div>
  <div class="mb-2">
    {address.map((addressLine) => <div>{addressLine}</div>)}
  </div>
  <div class="mb-2"><Phone />&nbsp;{phone}</div>
  {
    email && (
      <div>
        <Email />
        &nbsp;
        {email}
      </div>
    )
  }
</div>
