---
import { Resize } from "@cloudinary/url-gen/actions";
import CldImage from "../components/CldImage.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import News from "../components/homePage/News.astro";
import H2 from "../components/typography/H2.astro";
import BoundedContainer from "../components/BoundedContainer.astro";
import SplitImageSection from "../components/SplitImageSection.astro";
import { getPageLink } from "../utils";
import ProductList from "../components/homePage/ProductList.astro";
import bondIcon from "../assets/bond-icon.svg";

const sustainabilityPageLink = await getPageLink(
  import.meta.glob("./about/sustainability.astro")
);

const corporateGroupPageLink = await getPageLink(
  import.meta.glob("./about/corporate-group.astro")
);
---

<Layout isUnbounded title="Welcome to KCI">
  <div class="relative">
    <CldImage
      src="home-banner_xgcvqp"
      width="2000px"
      height="800px"
      alt="KCI banner"
      transform={(image) => image.resize(Resize.fill().width(2000).height(800))}
      class="min-h-[300px] object-cover"
    />
    <div
      class="flex flex-col justify-end items-start home-banner-overlay absolute top-0 right-0 md:right-[40%] bottom-0 left-0 bg-black bg-opacity-25"
    >
      <img
        src={bondIcon}
        alt="Chemistry of values and value additions"
        class="inline-block h-1/2 lg:h-2/3 ml-8 -mb-16 opacity-10"
      />
      <div
        class="m-12 mt-4 lg:m-16 lg:mt-4 text-3xl md:text-4xl lg:text-5xl text-white opacity-90 shadow-lg"
      >
        Chemistry of Values
        <br />
        and Value Additions
      </div>
    </div>
  </div>
  <Section isBox>
    <BoundedContainer>
      <div class="flex flex-col md:flex-row items-center py-12">
        <div class="mb-8 md:mb-0 md:mr-12">
          <p class="text-xl md:text-3xl lg:text-4xl text-stone-500">
            Kanoria Chemicals and Industries Ltd.<br />is a leading manufacturer
            of bulk and specialty chemicals for the infrastructure and
            construction sectors.
          </p>
          <div class="h-6"></div>
          <p class="prose max-w-none text-stone-400">
            Kanoria Chemicals and Industries Ltd. is a proud holder of the <a
              href="https://icca-chem.org/focus/responsible-care/"
              target="_blank">Responsible Care</a
            > logo.
          </p>
        </div>
        <div
          class="shrink-0 w-40 h-40 md:w-52 md:h-52 p-6 md:p-8 rounded-full border border-green-600"
        >
          <!-- Translations are by trial and error to centre the image -->
          <CldImage
            src="responsible-care-logo_mlujln"
            width="100%"
            height="100%"
            alt="Responsible Care logo"
            class="translate-x-1 -translate-y-3"
          />
        </div>
      </div>
    </BoundedContainer>
  </Section>
  <Section isBox class="bg-stone-50">
    <BoundedContainer>
      <H2>Latest News</H2>
      <News />
    </BoundedContainer>
  </Section>
  <Section isBox>
    <BoundedContainer>
      <H2>Our Products</H2>
      <ProductList />
    </BoundedContainer>
  </Section>
  <Section isBox class="bg-stone-50">
    <BoundedContainer>
      <SplitImageSection
        image={{
          src: "water-reservoir_kdxpoq",
          alt: sustainabilityPageLink.title,
        }}
      >
        <div class="flex flex-col">
          <H2>{sustainabilityPageLink.title}</H2>
          <div class="prose">
            <p>
              {sustainabilityPageLink.desc}
            </p>
          </div>
          <div class="pt-8">
            <a href={sustainabilityPageLink.href} class="btn btn-primary">
              Awards and Recognition
            </a>
          </div>
        </div>
      </SplitImageSection>
      <SplitImageSection
        image={{
          src: corporateGroupPageLink.banner,
          alt: corporateGroupPageLink.title,
        }}
      >
        <div class="flex flex-col">
          <H2>{corporateGroupPageLink.title}</H2>
          <div class="prose">
            <p>
              {corporateGroupPageLink.desc}
            </p>
          </div>
          <div class="pt-8">
            <a href={corporateGroupPageLink.href} class="btn btn-primary">
              About the Kanoria Group
            </a>
          </div>
        </div>
      </SplitImageSection>
    </BoundedContainer>
  </Section>

  <style>
    .home-banner-overlay {
      @screen md {
        clip-path: polygon(0 0, 68% 0, 100% 100%, 0% 100%);
      }
    }
  </style>
</Layout>
