---
import { getPageLink } from "../utils";
import BoundedContainer from "./BoundedContainer.astro";
import Section from "./Section.astro";
import Email from "./icons/Email.astro";
import Phone from "./icons/Phone.astro";

const aboutPageLink = await getPageLink(
  import.meta.glob("../pages/about/index.astro")
);

const careersPageLink = await getPageLink(
  import.meta.glob("../pages/careers/index.astro")
);

const contactPageLink = await getPageLink(
  import.meta.glob("../pages/contact/index.astro")
);

const investorsPageLink = await getPageLink(
  import.meta.glob("../pages/investors/index.astro")
);

const productsPageLink = await getPageLink(
  import.meta.glob("../pages/products/index.astro")
);
---

<Section class="bg-neutral">
  <BoundedContainer>
    <footer class="footer max-md:footer-center p-10 text-neutral-content">
      <div>
        <span class="footer-title">Company Links</span>
        <a class="link link-hover" href={aboutPageLink.href}>
          {aboutPageLink.title}
        </a>
        <a class="link link-hover" href={productsPageLink.href}>
          {productsPageLink.title}
        </a>
        <a class="link link-hover" href={investorsPageLink.href}>
          {investorsPageLink.title}
        </a>
        <a class="link link-hover" href={careersPageLink.href}>
          {careersPageLink.title}
        </a>
        <a class="link link-hover" href={contactPageLink.href}>
          {contactPageLink.title}
        </a>
      </div>
      <div>
        <span class="footer-title">Legal</span>
        <a class="link link-hover">Disclaimer</a>
        <a class="link link-hover">Privacy policy</a>
      </div>
      <div>
        <span class="footer-title">Contact</span>
        <p class="text-lg">
          <Phone />
          <a href="tel:+911143579200">+91-11-43579200</a><br />
          <Email />
          <a href="mailto:info@kanoriachem.com">info@kanoriachem.com</a>
        </p>
      </div>
    </footer>
  </BoundedContainer>
</Section>
