---
import { getPageLink, getPageLinks } from "../utils";
import NavBarItem from "./navBar/NavBarItem.astro";

const aboutPageLink = await getPageLink(
  import.meta.glob("../pages/about/index.astro")
);

const aboutPageLinks = await getPageLinks(
  import.meta.glob("../pages/about/*.{astro,md,mdx,html}")
);

const productPageLink = await getPageLink(
  import.meta.glob("../pages/products/index.astro")
);

const productPageLinks = await getPageLinks(
  import.meta.glob("../pages/products/*.{astro,md,mdx,html}")
);
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <NavBarItem pageLink={aboutPageLink} />
        </li>
        <li>
          <NavBarItem pageLink={productPageLink} />
        </li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost normal-case text-xl">KCI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li tabindex="0">
        <NavBarItem pageLink={aboutPageLink} className="justify-between" />
        <ul class="p-2">
          {
            aboutPageLinks.map((page) => (
              <li>
                <a href={page.href}>{page.title}</a>
              </li>
            ))
          }
        </ul>
      </li>
      <li tabindex="0">
        <NavBarItem pageLink={productPageLink} className="justify-between" />
        <ul class="p-2">
          {
            productPageLinks.map((page) => (
              <li>
                <a href={page.href}>{page.title}</a>
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
  </div>
  <div class="navbar-end"></div>
</div>
