---
import { Resize } from "@cloudinary/url-gen/actions";
import { getPageLink, getPageLinks, mapPageLinks } from "../utils";
import CldImage from "./CldImage.astro";
import NavBarItem from "./navBar/NavBarItem.astro";
import NavBarMenu from "./navBar/NavBarMenu.astro";
import NavGroupTitle from "./NavGroupTitle.astro";

const aboutPageLink = await getPageLink(
  import.meta.glob("../pages/about/index.astro")
);

const aboutPageLinks = await getPageLinks(
  import.meta.glob("../pages/about/*.{astro,md,mdx,html}")
);

const careersPageLink = await getPageLink(
  import.meta.glob("../pages/careers/index.astro")
);

const contactPageLink = await getPageLink(
  import.meta.glob("../pages/contact/index.astro")
);

const homePageLink = await getPageLink(
  import.meta.glob("../pages/index.astro")
);

const investorsPageLink = await getPageLink(
  import.meta.glob("../pages/investors/index.astro")
);

const productsPageLink = await getPageLink(
  import.meta.glob("../pages/products/index.astro")
);

const productPageLinks = await getPageLinks(
  import.meta.glob("../pages/products/*.{astro,md,mdx,html}")
);
---

<div class="drawer">
  <input id="main-nav" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-base-300 z-20">
      <div class="navbar-start">
        <div class="flex-none lg:hidden">
          <label for="main-nav" class="btn btn-square btn-ghost">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              >
              </path>
            </svg>
          </label>
        </div>
        <div class="flex-1 px-2 mx-2">
          <a href="/">
            <CldImage
              src="kci-logo-only_fd058b"
              width="100px"
              height="50px"
              alt="KCI logo"
              transform={(image) =>
                image.resize(Resize.fit().width(200).height(100))}
            />
          </a>
        </div>
      </div>
      <div class="navbar-center">
        <div class="flex-none hidden lg:block">
          <ul class="menu menu-horizontal">
            <li tabindex="0">
              <NavBarItem
                pageLink={aboutPageLink}
                className="justify-between"
                noHref
              />
              <NavBarMenu
                links={aboutPageLinks}
                overviewLinkHref={aboutPageLink.href}
              />
            </li>
            <li tabindex="0">
              <NavBarItem
                pageLink={productsPageLink}
                className="justify-between"
                noHref
              />
              <NavBarMenu
                links={productPageLinks}
                overviewLinkHref={productsPageLink.href}
              />
            </li>
            <li tabindex="0">
              <NavBarItem
                pageLink={investorsPageLink}
                className="justify-between"
              />
            </li>
            <li tabindex="0">
              <NavBarItem
                pageLink={careersPageLink}
                className="justify-between"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-end">
        <div class="flex-none hidden lg:block">
          <NavBarItem pageLink={contactPageLink} className="justify-between" />
        </div>
      </div>
    </div>
    <!-- Page content here -->
    <slot />
  </div>
  <div class="drawer-side" style="display: none;">
    <label for="main-nav" class="drawer-overlay"></label>
    <!-- `overflow-y-auto flex-nowrap` added 
      to fix Daisy unwanted scrollbar bug -->
    <ul class="menu w-80 p-4 bg-base-100 overflow-y-auto flex-nowrap">
      <li>
        <NavBarItem pageLink={homePageLink} activeIfExact />
      </li>
      <li>
        <NavBarItem pageLink={aboutPageLink} activeIfExact />
      </li>
      <ul class="px-4">
        {
          mapPageLinks(
            (links, group) => (
              <>
                <NavGroupTitle group={group} />
                {links.map((link) => (
                  <li>
                    <NavBarItem pageLink={link} />
                  </li>
                ))}
              </>
            ),
            aboutPageLinks
          )
        }
      </ul>
      <li>
        <NavBarItem pageLink={productsPageLink} activeIfExact />
      </li>
      <ul class="px-4">
        {
          mapPageLinks(
            (links, group) => (
              <>
                <NavGroupTitle group={group} />
                {links.map((link) => (
                  <li>
                    <NavBarItem pageLink={link} />
                  </li>
                ))}
              </>
            ),
            productPageLinks
          )
        }
      </ul>
      <!-- No `activeIfExact` for investor page item. 
        Since we are not showing its sub-pages in the drawer menu, we want the 
        item to be highlighted for all its sub-pages. -->
      <li><NavBarItem pageLink={investorsPageLink} /></li>
      <li><NavBarItem pageLink={careersPageLink} activeIfExact /></li>
    </ul>
  </div>
</div>

<script>
  // This is added to prevent occasional flash of drawer occurring on page load
  document.addEventListener("DOMContentLoaded", function () {
    (document.getElementsByClassName("drawer-side")[0] as HTMLElement).style[
      "display"
    ] = "grid";
  });
</script>
