---
import { Resize } from "@cloudinary/url-gen/actions";
import { PageLink } from "../../utils";
import CldImage from "../CldImage.astro";
import RightArrow from "../../components/icons/RightArrow.astro";

export interface Props {
  pageLink: PageLink;
}

const { pageLink } = Astro.props;
---

<a
  href={pageLink.href}
  class:list={[
    "flex items-center md:px-4 py-3 md:py-5 hover:bg-base-200 active:bg-base-300",
    "md:odd:border-r md:last-of-type:border-r-0 border-solid border-base-300",
  ]}
>
  {
    pageLink.thumb && (
      <CldImage
        src={pageLink.thumb}
        width="300"
        height="300"
        alt={pageLink.title}
        transform={(image) =>
          image.resize(Resize.fill().width(300).height(300))
        }
        class="flex-shrink-0 w-16 lg:w-28 h-16 lg:h-28 rounded-full shadow-xl"
      />
    )
  }
  <div class="flex-grow self-stretch flex flex-col mx-6">
    <h2 class="text-xl mb-2">{pageLink.title}</h2>
    {
      pageLink.desc && (
        <div class="flex-grow flex items-center">
          <ul class="list-disc list-inside text-sm text-stone-500">
            {pageLink.desc
              .split("|")
              .map((line) => line.trim())
              .map((line) => (
                <li>{line}</li>
              ))}
          </ul>
        </div>
      )
    }
  </div>
  <RightArrow class="w-6 h-6" />
</a>
