---
import { Resize } from "@cloudinary/url-gen/actions";
import { getPageLinks, mapPageLinks } from "../../utils";
import CldImage from "../CldImage.astro";

const links = await getPageLinks(
  import.meta.glob("../../pages/about/*.{astro,md,mdx,html}")
);
---

<div
  class:list={[
    "flex flex-wrap justify-center",
    "gap-8", // Keep synced with w-[...]
  ]}
>
  {
    mapPageLinks(
      (links) =>
        links.map((link) => (
          <div
            class:list={[
              "card card-compact rounded-none bg-base-100 shadow-xl",
              "md:w-[calc(50%_-_theme(spacing.4))]", // Keep synced with gap-...
            ]}
          >
            {link.banner && (
              <figure>
                <CldImage
                  src={link.banner}
                  width="100%"
                  height="auto"
                  alt={link.title}
                  transform={(image) => image.resize(Resize.fill(800, 350))}
                  class="w-full h-full object-cover max-h-40"
                />
              </figure>
            )}
            <div class="card-body">
              <h2 class="card-title">{link.title}</h2>
              {link.desc && <p>{link.desc}</p>}
              <div class="card-actions justify-end">
                <a class="btn btn-ghost" href={link.href}>
                  Learn More
                </a>
              </div>
            </div>
          </div>
        )),
      links
    )
  }
</div>
